<section class="container">

  <h1><%= @header %></h1>

  <div class="form-container">
    <%= form_with url: site_home_path do |form|%>
      <% @board.each do |row| %>
        <div class="row">
        <% row.each do |cell| %>
          <div class='cell'>
            <input type='submit' name='content' value='<%= cell %>'  />
          </div><!-- end cell -->
        <% end %>
      </div><!-- end row -->
      <% end %>
    <% end %>
  </div><!-- end form_container -->

</section>
