.home{
  .container{
    width: auto;
    margin: 60px auto;
    border: 0px;

    h1{
      height: 24px;
      margin: 30px auto 0 auto;
      color:#555;
    }

    .start-message{
      height:23px;
      margin-bottom:45px;

      h2{
        display:none;
      }
    }
  }

  .hero-container{
    position:relative;
    height:370px;
    margin-bottom:20px;

    img{
      width:420px;
      margin: 0 auto 30px auto;
    }

    img.bomb{
      position:absolute;
      top:45px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width:300px;
    }
  }

  .settings-container{
    width:420px;
    margin: 0 auto;

    .field{
      height:auto;
      margin-bottom:20px;
      position:relative;

      label{
        position:absolute;
        left:0px;
        font-size: 16px;
        color:#999;
        z-index:1;
        bottom:3px;
        height: 23px;
      }

      input{
        border-bottom:3px solid #444;
        width:100%;
        height:30px;
        position:relative;
        font-size: 16px;
        color:#444;
        text-align:center;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size:16px;
          color:#999;
          position:absolute;
          top:10px;
          padding-left:100px;
          text-align:left;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-size:16px;
          color:#999;
          position:absolute;
          top:10px;
          padding-left:100px;
          text-align:left;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-size:16px;
          color:#999;
          position:absolute;
          top:10px;
          padding-left:100px;
          text-align:left;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size:16px;
          color:#999;
          position:absolute;
          top:10px;
          padding-left:100px;
          text-align:left;
        }
      }
    }

    #settings-submit{
      width: 183px;
    }
  }
}
