// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin:0;
  padding:0;
}

body{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position:relative;
  color: #a9a9a9;
  font-size:14px;
  margin: 0 auto 40px auto;
  text-align:center;
}

a{
  text-decoration:none;
}

u{
  text-decoration:none;
}

a:link, a:hover, a:visited, a:active{
  text-decoration:none;
}

h1, h2, h3, h4, h5, h6, p, li{
  margin:0;
  padding:0;
  font-weight:normal;
}

ul{
  list-style-type: none;
}

li{}

img, link, input, button{
  border:0;
  outline:0
}

.left{
  float:left;
}

.right{
  float:right;
}

.clear{
  clear:both;
}

.show{
  display:block;
}

.hide{
  display:none
}

textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input{
  color: #a9a9a9;
  background-color:#fff;
}

section.container{
  width: auto;
  margin: 60px auto;
  border: 0px;

  h1{
    height: 24px;
    margin: 30px auto;
    color:#555;
  }
}

a.reset:link, a.reset:visited, #settings-submit{
  color:#777;
  border: 3px solid #777;
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  font-size:18px;
  text-transform:lowercase;
}

a.reset:hover, a.reset:active, #settings-submit:hover{
  background-color: #e0e0e0;
  border: 3px solid #e0e0e0;
  color: #fff;
}
